{% extends 'base.html' %}

{% comment %}
{% load humanize %}
{% endcomment %}

{% block title %} Job Portal |  {% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Main Content -->
<div class="container my-2">
  <div class="card shadow">
    <div class="card-body">
      <h2 class="card-title text-primary">Recruitment</h2>
      <p>ऑनलाइन आवेदन आमंत्रित किये जाते है :-</p>
      <ul class="list-group">
        <li class="list-group-item">संविदा भर्ती विज्ञापन (संपादित पत्र)</li>
        <li class="list-group-item">संविदा भर्ती विज्ञापन</li>
        <li class="list-group-item"><a href="{% url 'register' %}">ऑनलाइन आवेदन</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

