{% extends "home/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
  <!-- Gallery Section -->
  <div class="mt-5">
    <h2 class="text-center text-secondary">Temple Gallery</h2>
    <div class="row mt-4">
    {% for img in images %}
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img src="{{ img.image.url }} " class="card-img-top" alt="{{ img.title }}">
          {% if img.title %}
            <div class="card-body">
              <p class="card-text text-center"> {{ img.title }}</p>
            </div>
          {% endif %}
        </div>
    </div>
  {% empty %}
    <p class="text-center">No images uploaded yet.</p>
  {% endfor %}
  </div>
  
  <div class="mt-5">
    <h2 class="text-center text-secondary">Temple Galary (Old)</h2>
    <div id="carouselex" class="carousel slide">
      <div class="carousel-inner">
        {% for img in images %}
        <div class="carousel-item">
          <img src="{{ img.image.url }}" class="d-block w-100" alt="">
        </div>
        {% endfor %}
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %}